/* =========================
   RESET CSS
========================= */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    display: block;
    max-width: 100%;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

/* =========================
   VARIÁVEIS
========================= */
:root {
    --font-default: "Bitcount Grid Double Ink", system-ui;

    --color-primary: #333333;
    --color-bkg-figures: #e41c1c;
    --color-border: #4cac48;
    --color-light: #f1f1f1;
}

/* =========================
   GLOBAL
========================= */
html {
    scroll-behavior: smooth;
}

body {
    color: var(--color-primary);
    font-family: var(--font-default);
    width: 940px;
    margin: 0 auto;
}

/* =========================
   HEADER
========================= */
header {
    margin-bottom: 10px;
}

header img {
    margin-bottom: 10px;
}

h1 {
    background-image: url(../img/sobre-background.jpg);
    padding: 10px;
}

/* =========================
   NAV
========================= */
nav {
    background-color: #eee;
    padding: 10px;
    margin-bottom: 20px;
}

nav a {
    margin-right: 15px;
    font-weight: bold;
}

/* =========================
   LAYOUT PRINCIPAL
========================= */
main {
    display: flex;
    gap: 20px;
}

article {
    flex: 3;
}

aside {
    flex: 1;
    background-color: var(--color-light);
    padding: 15px;
}

/* =========================
   SECTIONS
========================= */
section {
    margin-top: 30px;
}

h2 {
    border-bottom: 2px groove #333;
    margin-bottom: 10px;
}

/* =========================
   FIGURES
========================= */
figure {
    background-color: var(--color-bkg-figures);
    border: 2px solid var(--color-border);
    text-align: center;
    padding: 15px;
    margin: 30px;
}

figcaption {
    font-style: italic;
    margin-top: 10px;
}

/* Centro de distribuição centralizado */
#centro-distribuicao {
    width: 550px;
    margin: 30px auto;
}

/* Imagem flutuando */
#familia-pelho {
    float: right;
    margin: 0 0 10px 10px;
}

/* =========================
   FOOTER
========================= */
footer {
    color: #777;
    margin: 30px 0;
    padding: 30px 0;
    border-top: 1px solid #ccc;
}

footer img {
    width: 94px;
    margin-right: 30px;
    vertical-align: middle;
}