:root {
    --font-default: "Bitcount Grid Double Ink", system-ui;

    --color-primary: #333333;
    --color-bkg-figures: #e41c1c;
    --color-border: #4cac48;
}

html {
    scroll-behavior: smooth;
}

body {
    color: var(--color-primary);
    font-family: var(--font-default);
    margin-left: auto;
    margin-right: auto;
    width: 940px;
}

h1 {
    background-image: url(../img/sobre-background.jpg);
    padding: 10px;
}

h2 {
    border-bottom: 2px groove #333333;
    margin-top: 30px;
}

figure {
    background-color: var(--color-bkg-figures);
    border: var(--color-border);
    text-align: center;
    padding: 15px;
    margin: 30px;
}

figcaption {
    font-style: italic;
    margin: 10px;
}